<div class="cookie-popup cookie-popup--short cookie-popup--dark">
    <i class="cookie-icon fa fa-4x fa-duotone fa-cookie-bite text-secondary" style="padding-right:12px"></i>
    <h4>Cookies Policy</h4>
    <span style="font-size:16px">Our website uses cookies in compliance with GDPR.<br><br>By visiting, you agree to our <a href="PixelBender Studio Privacy Policy.pdf" target="_blank">Privacy Policy</a></span>
    <div class="cookie-popup-actions">
        <button class="btn btn-default btn-s">Okay</button>
    </div>
</div>