<header>
    <!-- 
        <video autoplay muted loop id="myVideo">
            <source src="img/background-video-main.mp4" type="video/mp4">
        </video>
    -->
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="hidden">Transform Visions into Amazing videos.</h1>
            <p class="dynamic-text-head">
                We've completed <b>337</b> projects,<br>
                delivered <b>1200+</b> videos<br>
                to <b>200</b> clients<br>
                from <b>35+</b> countries<br>
                so far...
            </p>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Get in touch</a>
        </div>
    </div>
</header>
