<section id="clients">
    <h2 class="section-heading text-center">Our Clients</h2>
    <hr class="primary">
    <div class="carousel">
        <div class="stop">
            <img src="img/clients/3dentail_logo_png.png" alt="3Dental">
            <img src="img/clients/american_trust_administrators_png.png" alt="American Trust Administrators">
            <img src="img/clients/aptamil_logo_png.png" alt="Aptamil">
            <img src="img/clients/artemis_technologies_logo_png.png" alt="Artemis Technologies">
            <img src="img/clients/Belle_organix.png" alt="">
            <img src="img/clients/BFN-AI.png" alt="">
            <img src="img/clients/boom_festival_logo_png.png" alt="">
            <img src="img/clients/breakaway_speed_logo_png.png" alt="">
            <img src="img/clients/caribbean_congress_on_adolescent_and_youth_health_logo_png.png" alt="">
            <img src="img/clients/cf_moto_logo_png.png" alt="">
            <img src="img/clients/chaos_karts_logo_png.png" alt="">
            <img src="img/clients/Dental_Lab_com_logo_png.png" alt="">
            <img src="img/clients/dZi_foundation_logo_png.png" alt="">
            <img src="img/clients/European_Stunt_Academy_logo_png.png" alt="">
            <img src="img/clients/fin_financial_services_logo_png.png" alt="">
            <img src="img/clients/fitLine_logo_png.png" alt="">
            <img src="img/clients/food_innovators_summit_logo_png.png" alt="">
            <img src="img/clients/golden_tiger_casino.png" alt="">
            <img src="img/clients/Interpid_logo_png.png" alt="">
            <img src="img/clients/inviting_essence_logo_png.png" alt="">
            <img src="img/clients/iprodoos_logo_png.png" alt="">
            <img src="img/clients/IWM_partners_logo_png.png" alt="">
            <img src="img/clients/kombuchery_logo_png.png" alt="">
            <img src="img/clients/lancaster_university_logo.png" alt="">
            <img src="img/clients/lekto_wood_fuels_logo_png.png" alt="">
            <img src="img/clients/Luxembourg_institute_of_socio-economic_research_logo_png.png" alt="">
            <img src="img/clients/Mancala_Gaming_logo_png.png" alt="">
            <img src="img/clients/Maverick_diagnostics.png" alt="">
            <img src="img/clients/Old_spice_logo_png.png" alt="">
            <img src="img/clients/oregons_boat_logo_png.png" alt="">
            <img src="img/clients/pm_international_logo_png.png" alt="">
            <img src="img/clients/Recall_tv_logo_png.png" alt="">
            <img src="img/clients/sax_co_uk_logo_png.png" alt="">
            <img src="img/clients/Septier_logo_png.png" alt="">
            <img src="img/clients/sheva_solar_sound_system_logo_png.png" alt="">
            <img src="img/clients/swiftOtter_logo_png.png" alt="">
            <img src="img/clients/the_hotel_club_png.png" alt="">
            <img src="img/clients/the_human_experiment_that_went_wrong_logo_png.png" alt="">
            <img src="img/clients/the_net_sports_center_logo_png.png" alt="">
            <img src="img/clients/theater_under_den_kuppeln_logo_png.png" alt="">
            <img src="img/clients/toyota_financial_services_logo_png.png" alt="">
            <img src="img/clients/University_of_luxembourg_logo_png.png" alt="">
            <img src="img/clients/View_bots_logo_png.png" alt="">
            <img src="img/clients/watches_and_wonders_geneva_logo_png.png" alt="">
        </div>
    </div>
    
</clients>