<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-solid fa-chalkboard wow bounceIn text-primary"></i>
                    <h3>Pre-Production</h3>
                    <hr class="primary">
                    <p class="text-muted">Consultation</p>
                    <p class="text-muted">Screenwriting</p>
                    <p class="text-muted">Content Strategy</p>
                    <p class="text-muted">Storyboarding</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-solid fa-clapperboard wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Production</h3>
                    <hr class="primary">
                    <p class="text-muted">Video Production</p>
                    <p class="text-muted">Voice Overs</p>
                    <p class="text-muted">Sound Design</p>
                    <p class="text-muted">Sound Recording</p>
                    <p class="text-muted">Livestreaming</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-solid fa-file-video wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Post Production</h3>
                    <hr class="primary">
                    <p class="text-muted">Video Editing</p>
                    <p class="text-muted">Color Correction</p>
                    <p class="text-muted">Sound Mixing & Mastering</p>
                    <p class="text-muted">Motion Graphics</p>
                    <p class="text-muted">Subtitling</p>
                    <p class="text-muted">VFX</p>
                    <p class="text-muted">Retouching</p>
                </div>
            </div>
        </div>
    </div>
</section>
